<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
    <h2>Rappers</h2>
    <form action="rapper">
        <li *ngFor="let rapper of rappers, index as i; trackBy: trackByFn">
            <ul>
            <span><img src="{{rapper.picture}}" width="380" height="300"></span>
            <br>
            <br>
            Nome: <span>{{rapper.name}}</span>
            <br>
            <br>
            Idade: <span>{{rapper.age}}</span>
            <br>
            <br>
            Álbuns: <span>{{rapper.album}}</span>
            <br>
            <br>
            Singles: <span>{{rapper.single}}</span>
            </ul>    
        </li>
    </form>
</div>
    
</body>
</html>