<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>

<body>
    <div style="background-color:rgb(255, 165, 0);">
        <h1 style="background-color:black;color:aliceblue;text-align: center">*Acervo Rap*</h1>
        <ins>
            <h1>Lista de Rappers</h1>
        </ins>
        <span *ngFor="let rapper of rappers, index as i; trackBy: trackByFn">
            <table>
                <tr>
                    <td><span><img src="{{rapper.picture}}" width="380" height="300"></span></td>
                    <td>
                        <h2>Nome do rapper:</h2><span>
                            <h3>{{rapper.name}}</h3>
                        </span>
                        <h2>Idade do rapper:</h2><span>
                            <h3>{{rapper.age}}</h3>
                        </span>
                        <h2>Álbum Referência:</h2><span>
                            <h3>{{rapper.album}}</h3>
                        </span>
                        <h2>Single Referência:</h2><span>
                            <h3>{{rapper.single}}</h3>
                        </span>
                    </td>
                </tr>
            </table>
            <button (click)="deleteRapper(rapper.id)">Deletar</button>
            <div>
                <form [formGroup]="rappersForm" (ngSubmit)="updateRapper(rapper.id, rappersForm.value)">
                    <br>
                    <div>
                        <label for="picture">
                            Url da Foto
                        </label>
                        <input id="picture" type="text" formControlName="picture">
                    </div>
                    <div>
                        <label for="name">
                            Nome do rapper
                        </label>
                        <input id="name" type="text" formControlName="name">
                    </div>
                    <div>
                        <label for="age">
                            Idade do rapper
                        </label>
                        <input id="age" type="number" formControlAge="age">
                    </div>
                    <div>
                        <label for="album">
                            Álbum Referência
                        </label>
                        <input id="album" type="text" formControlName="album">
                    </div>
                    <div>
                        <label for="single">
                            Single Referência
                        </label>
                        <input id="single" type="text" formControlName="single">
                    </div>

                    <button class="button" type="submit">Editar</button>
                </form>

            </div>
            <hr />
        </span>
        <ins>
            <h1>Postar um novo Rapper:</h1>
        </ins>
        <form [formGroup]="rappersForm" (ngSubmit)="addRapper(rappersForm.value)">
            <div>
                <label for="picture">
                    Url da Foto
                </label>
                <input id="picture" type="text" formControlName="picture">
            </div>
            <div>
                <label for="name">
                    Nome do rapper
                </label>
                <input id="name" type="text" formControlName="name">
            </div>
            <div>
                <label for="age">
                    Idade do rapper
                </label>
                <input id="age" type="number" formControlName="age">
            </div>
            <div>
                <label for="album">
                    Álbum Referência
                </label>
                <input id="album" type="text" formControlName="album">
            </div>
            <div>
                <label for="single">
                    Single Referência
                </label>
                <input id="single" type="text" formControlName="single">
            </div>

            <button class="button" type="submit">Postar</button>

        </form>
    </div>

</body>

</html>